<!-- 
  Date:20170529
  website:全站网页头部
  author:li
-->
<div class="header">
	<label></label>
	<!-- 用户菜单 -->
	<div class="userMenu">
	    <label>内蒙古自治区·呼伦贝尔</label>
		<ul>
			<li>您好，请登录</li>
			<li>免费注册</li>
			<li>我的订单</li>
			<li>我的京东</li>
			<li>京东会员</li>
			<li>企业采购</li>
			<li>客户服务</li>
			<li>网站导航</li>
			<li style="border-right:0;">手机京东</li>
		</ul>
	</div>
	<!-- 搜索框 -->
	<div class="userSearch">
		<input type="text" id="textId" class="searchTxt" value="默认的字体" />
		<input type="button" id="searchId" class="search" />
	</div>
	<!-- 购物车按钮 -->
	<div class="shoppingcar">
		<input type="button" class="shoppingButton" value="购物车" />
	    <div class="shopNumber">0</div> 
	</div>
	<!-- 顶部导航 -->
	<div class="topNav">
		<ul id="topNavId">
			<!-- <li>秒杀</li> -->
		</ul>
	</div>
</div>